#header-bar {
	position: inherit;
	background-color: #1b203d;
}

#toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#menu-tools {
	display: inherit;
	align-items: center;
}

#menu-icon {
	font-size: 1.5em;
	color: #ff335c;
}

#header-title {
	font-size: 1.5em;
}

.PageControllers {
	display: inherit;
}

#information-button {
	border-right: 1px solid #ffffff;
}

#information-button,
#visualizer-button {
	text-transform: none;
}

.SearchContainer {
	display: inherit;
	align-items: center;
}

#search-icon {
	color: #ffffff;
}
