#header-bar {
	position: inherit;
	background-color: #1b203d;
}

#toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.MenuTools {
	display: inherit;
	width: 850px;
	align-items: center;
}

.LeftMenus {
	display: inherit;
	align-items: inherit;
}

#menu-icon {
	font-size: 1.5em;
	color: #ff335c;
}

#header-title {
	font-size: 1.5em;
}

#search-input {
	margin: 0px 0px 0px 30px;
	width: 100%;
}

#search-icon {
	color: #ffffff;
}

@media (max-width: 600px) {
	.TopPageToggle {
		display: none;
	}
}
