#download-container {
	text-transform: none;
	margin: 0px 10px 0px 10px;
	border-radius: 10px;
}

#download-button,
#dropdown-button {
	border: 1px solid #b4c5e4;
	text-transform: none;
	font-size: 1.4em;
}

#download-button {
	padding: 4px 2px 4px 4px;
	color: #b4c5e4;
	border-radius: 31px 0px 0px 31px;
}

#dropdown-button {
	padding: 4px 4px 4px 2px;
	color: #1b203d;
	background-color: #b4c5e4;
	border-radius: 0px 31px 31px 0px;
}

@media (max-width: 770px) {
	#download-container {
		display: none;
	}
}
